body { 
	margin: 0;
	padding: 0; 
	background: #000000;
	color: #ffffff;
	line-height: 24px;
	font-size: 16px;
	font-family: Georgia, Verdana, sans-serif;
}

* {box-sizing: border-box;}

#mainline{
	background-color: #ffffff;
	height: 3px;
	width: auto;
}

#menu {
	background: #383838;
	height: 50px;
	line-height: 50px;
	font-size: 19px;
	text-align: center;
}

#menu ul {
	margin: 0;
	padding: 0 0 0 10px;
	list-style-type: none;
}

#menu ul li {
	display: inline; 
	padding: 0 10px;
}

#menu ul li a {
	text-decoration: none;
	color: #ffffff;
}

#menu ul li a:hover {
	color: #000000;
	text-decoration: none;
}

#header {
	height: 100px;
}

#header h1 {
	margin: 0;
	font-weight: normal;
	color: #ffffff;
	font-size: 2.5vmax;
	line-height: 90px;

}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 0.5vw 1vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #555555;
  color: white;
}

#textwrap { 
	margin: 0% 10% 0% 10%;`
}

#wrap { 
	text-align: center;
	background-image: url('../media/aston-martin-db11-10.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed; 
}

#content { 
	display: grid;
	column-gap: 2%;
	grid-template-columns: 49% 49%;
}
#content h2 { 
	padding-top: 10px; 
	font-weight: normal;
	font-size: 2vw; 
}

#content h3 { 
	font-weight: normal;
	font-size: 1.5vw; 
	padding: 10px; 
}

#content p { 
	font-size: 1vw; 
}

#cbox_1, #cbox_2{
	padding: 20px;
	text-align: left;

}

#cbox_1{
	padding: 20px;
}

#cbox_2{
	padding: 20px;
}

.container {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
}
#footer { 
	display: grid;
	column-gap: 2%;
	grid-template-columns: 32% 32% 32%;
	background: #383838;
	color: #ffffff;
}

#footer a { 
	color: #fff; text-decoration: none; 
}
#footer a:hover { 
	color: #000000; 
}
#fbox_2 a:hover .image { 
	opacity: 0.3; 
}

#fbox_1, #fbox_2, #fbox_3{
	padding: 20px;
	text-align: center;
}

#fbox_1{
	padding: 20px;
	text-align: left;
}

#fbox_3{
	padding: 20px;
	text-align: right;
}